html {
    background-image: url('bcg.jpg'); 
    background-size: cover;            
    background-position: center center;    
    background-repeat: no-repeat;       
    background-attachment: fixed;       
  }

#all{
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 1px, grey, solid;
    background-color: rgba(114, 244, 248, 0.473);
}
#cat{
    display: flex;
    justify-self: center;
    align-self: center;
}
#myProgress, #myProgress2, #myProgress3{
    width: 100%;
    background-color: rgb(202, 202, 202);
    border-radius: 7px;
    margin-bottom: 10px;
}
  
#myBar, #myBar2, #myBar3{
    width: 0%;
    height: 30px;
    background-color: pink;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 7px;
    transition: 0.5s ease;
}
#image{
    padding: 0px;
    margin: 0px;
}
#click{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}